@media only screen and (min-width: 320px) {
    .menu-icon {
        top: auto;
        left: auto;
        bottom: 10%;
        right: 5%;
        width: 14%;
    }

    .small-icon {
        width: 55%;
        padding-top: 0%;
    }

    .simple-icon {
        width: 55%;
        padding-top: 0%;
    }

    .close-icon {
        width: 5%;
        top: 2%;
        left: 93%;
    }

    .tooltip {
        margin-left: -75%;
        padding: 5%;
        text-size-adjust: 250%;
    }

    .menu {
        top: auto;
        left: auto;
        bottom: 22%;
        right: 5%;
        width: 14%;
        flex-direction: column;
    }

    .tags {
        left: 50%;
        top: 5%;
        padding: 2% 5% 3% 5%;
    }

    .profile-picture {
        width: 94%;
        padding: 3%;
    }

    .lateral-info {
        width: 25%;
    }

    .lateral-info h3 {
        font-size: 145%;
    }

    #about_me label {
        padding: 4% 5%;
    }

    #about_me img {
        width: 10%;
        margin-right: 5%;
    }

    .about-me-small-icon {
        height: 50%;
    }

    .about-me-small-text {
        font-size: 75%;
    }

    #interests td {
        padding: 5% 5% 5% 5%;
        width: 1%;
    }

    #languages td {
        padding: 1% 5% 5% 15%;
    }

    #languages img {
        width: 11%;
    }

    #skills td {
        padding: 5%;
    }

    #technical_proficiencies > table {
        padding: 0% 0% 10% 0%;
    }

    .technical-proficiencies-description {
        margin-top: 3%;
    }

    .technical-proficiencies-skills {
        font-size: 65%;
    }

    .main-info {
        margin-left: 2%;
        margin-right: 22%;
    }

    .main-info p {
        font-size: 60%;
    }

    .main-info h5 {
        font-size: 65%;
    }

    #title h2 {
        font-size: 90%;
        margin-bottom: -1%;
    }

    #title h3 {
        font-size: 80%;
        margin-bottom: 7%;
    }

    #objective h3, #experiences h3, #education h3 {
        font-size: 70%;
    }

    #experiences h4 {
        font-size: 67%;
        margin-top: 8%;
    }

    #education h4 {
        font-size: 67%;
    }

    #experiences h5, #education h5 {
        margin-top: 4%;
        margin-bottom: 0%;
    }

    #education p {
        text-align: left;
        font-size: 58%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

@media only screen and (max-width: 479px) {
    #tags_table table {
        display: block;
    }

    #tags_table tr {
        display: flex;
        flex-wrap: wrap;
    }

    #tags_table td {
        width: 100%;
        box-sizing: border-box;
        padding: 3px 0;
    }
}
